---
import Layout from '../../../layouts/Layout.astro';
const pageTitle = "Gallery1 Section 1";
---

<Layout pageTitle={pageTitle}>
    <h2>Gallery1 - Section 1</h2>
    Section 1</a> -
    <a href="../gallery1-2">Section 2</a>
    </br></br>
images from section 1 are displayed down here
</Layout>


