---
import Layout from '../../../layouts/Layout.astro';
const pageTitle = "Gallery1 Section 2";
---

<Layout pageTitle={pageTitle}>
  <h2>Gallery1 - Section 2</h2>
  <a href="./gallery1-1">Section 1</a> -
  Section 2
  </br></br>
images from section 2 are displayed down here
</Layout>
