---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Gallery1";
---

<Layout pageTitle={pageTitle}>
<h2>Gallery1</h2>
<a href="gallery1/gallery1-1">Section 1</a> -
<a href="gallery1/gallery1-2">Section 2</a>
</br></br>
images display when I click on each subsection
</Layout>
