---
import Layout from '../../layouts/Layout.astro';
const pageTitle = "Gallery1";
export const frontmatter = {
  pageTitle: "Gallery1"
};
---

<Layout pageTitle={pageTitle}>
<div id="container">
  <main>
    <h2>{pageTitle}</h2>
<p>
<a href="./gallery1/section1">Section 1</a>
<a href="./gallery1/section2">Section 2</a>
</p>
</main>
</div>
</Layout>