---
import background from '../assets/background.svg';
import home_bg_1 from '../assets/home_bg_1.jpeg';
import Layout from '../layouts/Layout.astro';
import Greeting from '../components/Greeting';
const pageTitle = "Home";
---

<Layout pageTitle={pageTitle}>
	<div id="container">
		<main>
				<img class="home_bg" src={home_bg_1.src}>
		</main>
	</div>
</Layout>
