---
import background from '../assets/background.svg';
import Layout from '../layouts/Layout.astro';
const pageTitle = "Links";
---
<style>
	#links {
	  display: flex;
	  gap: 1rem;
	  margin-top: 2rem;
	}
</style>

<style>
    #links a {
		display: flex;
    gap: 1rem;
    margin-top: 2rem;
      padding: 0.5rem 1rem;
      color: white;
      background-color: #4c1d95;
      text-decoration: none;
    }
</style>

<Layout pageTitle={pageTitle}>
	<div id="container">
		<main>
			<h2>
					Here are some links.
			</h2>
			<section id="links">
				<a href="https://www.youtube.com/">Youtube</a>
				<a href="https://www.blah.com/">Blah</a>
			</section>
		</main>
	</div>
</Layout>