---
---
<style>
footer {
  display: flex;
  gap: 1rem;
  justify-content: center;
  /* margin-top: 2rem; */
}
footer a {
    padding: 0.5rem 1rem;
    color: white;
    background-color: #4c1d95;
    text-decoration: none;
  }
</style>
<footer>
  <center><p>footer goes here</p></center>
</footer>
